@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@400;500;700&display=swap");

:root {
  --primary-color: #191765;
  --primary-heading-color: #7d73fc;
  --secondary-color: #edecff;
  --text-color: #c8c8d4;
  --white-color: #fff;
  --secondary-heading-color: #9490ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--primary-color);
  width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  overflow-x: hidden;
}

.main-section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.li-color {
  color: #f5f5ff;
  line-height: 24px;
  font-size: 15px;
  vertical-align: middle;
  padding: 5px 0;
  list-style-type: none;
}

.white {
  color: var(--white-color);
}

.logo {
  transition: ease-out 250ms;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.inter {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.text-color {
  color: var(--secondary-color);
}

.head-color {
  color: var(--secondary-heading-color);
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.horizontal {
  border: 1px solid #646369;
  margin: 30px 0;
}

.jumbotron {
  background-image: url(background/ellipse-a.png), url(background/ellipse-b.png);
  background-repeat: no-repeat, no-repeat;
  background-position: 0% 0%, right top 40%;
  background-size: 100px;
  padding: 0 30px 60px 30px;
}

.header-container {
  width: 100%;
  margin-top: 10px;
  display: flex;
  line-height: 28px;
  font-weight: bold;
  justify-content: space-between;
  padding: 10px 0;
}

.text-normal {
  font-weight: 500;
}

.text-400 {
  font-weight: 400;
}

.header-container a {
  line-height: 16px;
  padding: 10px 10px 0 10px;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.header-container .jav-link-class {
  background-image: url(assets/right-chevron-svgrepo-com.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: right top 20%;
}

.footer a {
  color: #ebebff;
  text-decoration: none;
  font-size: 20px;
}

.header-container__nav-list-item a {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: #edecff;
  font-size: 24px;
  line-height: 32px;
}

.one {
  margin-bottom: 40px;
}

.header-container a:hover {
  text-decoration: 2px none var(--primary-heading-color);
}

.primary-navigation li a i {
  display: none;
}

.header-container__nav i:hover {
  cursor: pointer;
  color: #acb7c3;
}

/* Burger and navigation styling */

.burger {
  cursor: pointer;
  z-index: 9999;
}

.header-container__nav {
  padding: 0.5em 0.5em;
}

.header-container__nav-list {
  display: flex;
  list-style: none;
}

.header-container__nav-list-item-burger .burger-menu {
  width: 1.4em;
  margin: 0.25em;
  background-color: #acb7c3;
  height: 4px;
  border: 2px solid #acb7c3;
}

.primary-navigation {
  position: fixed;
  z-index: 1000;
  inset: 0 0 0 0;
  background: var(--primary-color);
  padding: 3.6em 0 0 0;
  display: flex;
  flex-direction: column;
  mix-blend-mode: normal;
  background-image: url(assets/shape\ mobile\ menu-2.svg), url(assets/shape\ mobile\ menu-1.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: left top 25%, right bottom;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
  transform: translateX(100%);
  transition: transform 500ms ease-out;
}

/* @keyframes fadein {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
} */

.primary-navigation[data-visible="true"] {
  transform: translateX(0%);
  transition: transform 500ms ease-in;
}

.mobile-nav-toggle {
  position: absolute;
  z-index: 19999;
  top: 1.2rem;
  right: 1rem;
  transition: 500ms ease-out;
}

.mobile-nav-toggle .rotate,
.rotate1,
.dissappear {
  transition: 500ms ease-out;
}

.mobile-nav-toggle[aria-expanded="true"] .rotate {
  transform: rotate(45deg) translate(6px, 6px);
  transition: 250ms ease-in;
}

.mobile-nav-toggle[aria-expanded="true"] .rotate1 {
  transform: rotate(-45deg) translate(6px, -6px);
  transition: 250ms ease-in;
}

.mobile-nav-toggle[aria-expanded="true"] .dissappear {
  opacity: 0;
  transition: 250ms ease-in;
}

/* Hero section Styling */

h1 {
  font-weight: 700;
}

.wrap {
  white-space: nowrap;
}

.my-title {
  margin: 20px 0;
}

.my-title h1 {
  padding: 10px 0;
  font-size: 48px;
  font-style: normal;
  letter-spacing: 0.37px;
  line-height: 72px;
  transition: ease-out 0.25s;
}

.my-title p {
  padding: 0;
  font-size: 30px;
  line-height: 44px;
  vertical-align: middle;
  margin-bottom: 30px;
}

.description {
  color: var(--text-color);
  font-style: normal;
  font-size: 20px;
  line-height: 28px;
  vertical-align: top;
}

hr:hover {
  color: var(--primary-heading-color);
}

.qualifications {
  border-top: 1px solid #646369;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #646369;
}

li {
  list-style-type: none;
}

.qualifications li {
  width: 50%;
  line-height: 24px;
  font-size: 15px;
  padding: 6px 0;
}

.qualifications h4 {
  padding-bottom: 20px;
}

.lists li {
  padding: 10px 15px;
  transition: ease-out 0.25s;
}

.lists li:hover {
  cursor: pointer;
  color: #f1b6fe;
  transition: ease-in 0.25s;
}

.qualifications h4:hover {
  text-decoration: 2px underline var(--secondary-heading-color);
  transform: scale(1.2, 1.2);
}

.qualifications li:hover {
  text-decoration: 2px underline var(--secondary-heading-color);
  transform: scale(1.1, 1.1);
}

.socials {
  display: flex;
  justify-content: center;
  gap: 0;
  padding-bottom: 30px;
}

.socials-img {
  transition: ease-out 0.25s;
}

.socials-img:hover {
  transform: scale(1.25);
  transition: ease-out 0.25s;
}

.nav-arrow {
  display: flex;
  justify-content: center;
}

.arrow {
  margin: 6px;
  width: 28px;
  height: 20px;
  filter: opacity(1) drop-shadow(0 0 0 #a2a3ae) saturate(300%) contrast(0%) blur(0);
}

.work {
  font-size: 20px;
  line-height: 32px;
  color: #a2a3ae;
}

.works {
  text-decoration: none;
}

.works:hover {
  cursor: pointer;
  text-decoration: 2px underline var(--secondary-heading-color);
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-rows: auto;
  padding: 0 24px;
  gap: 10px;
  background-image: url(background/ellipse-c.png), url(background/ellipse-d.png), url(background/ellipse-e.png), url(background/ellipse-f.png);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: left top 7%, right top 36%, left top 63%, right bottom 8%;
  background-size: 250px;
}

.first-white-background {
  border-top: 1px solid #646369;
  padding-top: 20px;
}

.pr-title {
  font-size: 32px;
  width: 220px;
  margin-top: 20px;
  text-transform: uppercase;
}

.grid-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.grid-item p {
  color: #dcdce8;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
}

.project-title {
  font-size: 32px;
  font-weight: 500;
  line-height: 44px;
  margin: 50px 0;
}

.grid-row-item {
  width: 90%;
}

.grid-row-item img {
  width: 100%;
  margin: 0 auto;
  border-radius: 4px;
}

.lists {
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
}

.li-border {
  border-right: 1px solid #555;
  height: 30px;
}

.btn {
  height: 46px;
  width: 89px;
  background-color: #7d73fc;
  padding: 12px;
  align-items: center;
  font-size: 12px;
  border: none;
}

.btn:hover {
  cursor: pointer;
  background-color: #7d73fc;
}

.btn:active {
  background-color: #5e42d7;
}

.btn:visited {
  background-color: #5e42d7;
}

.btn:disabled {
  background-color: #2a2b33;
}

button::selection {
  background-color: #5e42d7;
}

.contact-form {
  margin-top: 75px;
  margin-bottom: 75px;
  padding: 0 10px;
}

.contact-form .flex-container-column,
.flex .flex-container-column,
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form .flex-container-column {
  margin-top: 40px;
  gap: 24px;
}

.footer {
  border-top: 1px solid #3a3837;
  align-items: center;
  padding-top: 15px;
  margin-bottom: 30px;
}

.contact-form div h2 {
  margin-bottom: 20px;
  font-size: 32px;
  line-height: 44px;
  color: #9390ff;
  font-weight: 500;
}

.contact-form div p {
  font-size: 16px;
  line-height: 24px;
  color: #f5f5ff;
}

.input-cls {
  width: 90%;
  margin: 0 auto;
  padding: 16px;
  color: #191765;
  font-size: 15px;
  transition: ease-out 0.25s;
}

.input-cls:active {
  transform: translate(1rem, 0);
  transition: ease-out 0.25s;
}

.message-box {
  height: auto;
}

.submit-btn {
  margin-top: 16px;
}

footer .text-hover:hover {
  text-decoration: 2px underline var(--primary-heading-color);
}

.social-icons {
  display: flex;
}

.nav-arrow-1 {
  display: none;
}

.navigation-space {
  padding-top: 20px;
}

.contact-form .desktop {
  display: none;
}

/* Animations and transitions */

.logo:hover {
  transform: scale(1.25);
  text-shadow: 2px 2px crimson;
  transition: ease-in 250ms;
}

.my-title h1:hover {
  text-shadow: 4px 4px #2a2b33;
  transition-duration: 0.25s;
}

/* Project Image animations */

.grid-row-item img:hover {
  transform: scale(1.075, 1.075);
  transition-duration: 500ms;
}

/* Button animations */

form .btn:hover {
  transform: scale(1.1);
  background-color: #5e42d7;
  transition-timing-function: linear;
  transition-duration: 500ms;
}

/* Desktop version width: 768px */
@media (min-width: 768px) {
  * {
    margin: 0;
    padding: 0;
  }

  html {
    width: 100%;
  }

  body {
    width: 100%;
    overflow-x: hidden;
  }

  .header-container {
    width: 80%;
    margin: 0 auto;
    justify-content: flex-start;
  }

  .header-container a {
    font-size: 16px;
  }

  .header-container__nav {
    width: 700px;
  }

  .lists li {
    padding: 0;
  }

  .qualifications li {
    width: 30%;
  }

  .lists li:hover {
    border-bottom: 1px dashed #f1b6fe;
  }

  .logo {
    margin-top: 20px;
  }

  .primary-navigation {
    position: relative;
    padding-top: 0;
    margin-top: 0;
    flex-direction: row;
    background-image: none;
    align-items: center;
  }

  .mobile-nav-toggle {
    display: none;
  }

  .jumbotron {
    width: 100%;
    background-image: none;
  }

  .grid-container {
    background-image: url(background/ellipse-c.png), url(background/ellipse-d.png), url(background/desktop-e.png), url(background/ellipse-f.png);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: left top 7%, right top 36%, left top 63%, right bottom 15%;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    padding-top: 20px;
  }

  .white-background-one {
    width: 100%;
    background-image: url(background/desktop-a.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: 0% 0%;
  }

  .one {
    text-align: center;
    width: 32%;
    margin: 40px auto 80px auto;
  }

  .white-background-two {
    background-image: url(background/desktop-b.png);
    background-repeat: no-repeat;
    background-position: 90% 100%;
    background-size: 200px;
    margin: 0 auto;
  }

  .qualifications,
  .two {
    width: 40%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
  }

  .navigation-space {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
  }

  .nav-arrow-1 {
    display: flex;
  }

  .pr-title {
    text-transform: none;
    width: 100%;
  }

  .first,
  .second,
  .third,
  .fourth {
    width: 80%;
    margin: 0 auto;
  }

  #pr-work-title {
    width: 80%;
    margin: 0 auto;
  }

  .grid-row-item .project-image {
    width: 500px;
  }

  .grid-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
  }

  .grid-row-item h4 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .grid-row-item p {
    line-height: normal;
    font-size: 19px;
  }

  #change-order .grid-row-item {
    order: 2;
  }

  #change-order-1 .grid-row-item {
    order: 2;
  }

  .contact-form .mobile {
    display: none;
  }

  .contact-form .desktop {
    display: block;
  }

  .contact-form {
    width: 70%;
    margin: 100px auto 70px auto;
  }

  .footer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .footer > .email {
    margin-bottom: 10px;
  }
}
