@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@400;500;700&display=swap");

:root {
  --primary-color: #191765;
  --primary-heading-color: #7d73fc;
  --secondary-color: #edecff;
  --text-color: #c8c8d4;
  --white-color: #fff;
  --secondary-heading-color: #9490ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.li-color {
  color: #f5f5ff;
  line-height: 24px;
  font-size: 15px;
  vertical-align: middle;
  padding: 5px 0;
  list-style-type: none;
}

.white {
  color: var(--white-color);
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.inter {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.text-color {
  color: var(--secondary-color);
}

.head-color {
  color: var(--secondary-heading-color);
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.horizontal {
  border: 1px solid #646369;
  margin: 30px 0;
}

html,
body {
  background-color: var(--primary-color);
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

.white-background-one {
  background-image: url(background/ellipse-a.png);
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: 100px;
  margin-left: -30px;
  padding-bottom: 30px;
}

.one {
  margin-left: 30px;
}

.white-background-two {
  background-image: url(background/ellipse-b.png);
  background-repeat: no-repeat;
  background-position: 100% 0%;
  background-size: 100px;
  margin-right: -30px;
}

.two {
  margin-right: 30px;
}

header {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.text-normal {
  font-weight: 500;
}

.text-400 {
  font-weight: 400;
}

header a {
  line-height: 16px;
  padding-top: 10px;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-decoration: none;
}

footer a {
  color: #ebebff;
  text-decoration: none;
  font-size: 20px;
}

header a:hover {
  text-decoration: 2px none var(--primary-heading-color);
}

header nav {
  width: 33.33px;
}

nav i:hover {
  cursor: pointer;
  color: #acb7c3;
}

h1 {
  font-weight: 700;
}

.wrap {
  white-space: nowrap;
}

main {
  /* margin: 10px 30px 0 30px; */
  display: flex;
  flex-direction: column;
}

.my-title {
  margin: 20px;
}

.my-title h1 {
  padding: 10px 0;
  font-size: 48px;
  font-style: bold;
  letter-spacing: 0.37px;
  line-height: 72px;
}

.my-title p {
  padding: 0;
  font-size: 30px;
  line-height: 44px;
  vertical-align: center;
  margin-bottom: 30px;
}

.description {
  color: var(--text-color);
  font-style: regular;
  font-size: 20px;
  line-height: 28px;
  vertical-align: top;
}

hr:hover {
  color: var(--primary-heading-color);
}

.qualifications {
  border-top: 1px solid #646369;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #646369;
}

li {
  list-style-type: none;
}

nav > ul > li {
  display: none;
}

.qualifications li {
  width: 50%;
  line-height: 24px;
  font-size: 15px;
  padding: 6px 0;
}

.qualifications h4 {
  padding-bottom: 20px;
}

.lists li {
  padding: 10px 20px 0 0;
}

.qualifications h4:hover {
  text-decoration: 2px underline var(--secondary-heading-color);
}

.qualifications li:hover {
  text-decoration: 2px underline var(--secondary-heading-color);
}

.socials {
  display: flex;
  justify-content: center;
  gap: 0;
  padding-bottom: 30px;
}

.nav-arrow {
  display: flex;
  justify-content: center;
}

.arrow {
  margin: 6px;
  width: 28px;
  height: 20px;
  filter: opacity(1) drop-shadow(0 0 0 #a2a3ae) saturate(300%) contrast(0%) blur(0);
}

.work {
  font-size: 20px;
  line-height: 32px;
  color: #a2a3ae;
}

.works {
  text-decoration: none;
}

.works:hover {
  cursor: pointer;
  text-decoration: 2px underline var(--secondary-heading-color);
}

.jumbotron {
  padding: 0 30px 60px 30px;
}

.grid-container {
  display: grid;
  grid-template-rows: auto;
  padding: 0 30px;
  gap: 10px;
  background-image: url(background/ellipse-c.png), url(background/ellipse-d.png), url(background/ellipse-e.png), url(background/ellipse-f.png);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: left top 7%, right top 36%, left top 63%, right bottom 8%;
  background-size: 250px;
  width: 100%;
}

.pr-title {
  font-size: 32px;
  width: 220px;
  margin-top: 20px;
  text-transform: uppercase;
}

.grid-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.grid-item p {
  color: #dcdce8;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
}

.project-title {
  font-size: 32px;
  font-weight: 500;
  line-height: 44px;
  margin: 50px 0;
}

.grid-row-item img {
  width: 100%;
  margin: 0 auto;
}

.grid-row-item {
  margin: 0 auto;
}

.lists {
  margin: 15px 0;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
}

.li-border {
  border-right: 1px solid #555;
  height: 30px;
}

.btn {
  height: 46px;
  width: 89px;
  background-color: #7d73fc;
  padding: 12px;
  align-items: center;
  font-size: 12px;
  border: none;
}

.btn:hover {
  cursor: pointer;
  background-color: #7d73fc;
}

.btn:active {
  background-color: #5e42d7;
}

.btn:visited {
  background-color: #5e42d7;
}

.btn:disabled {
  background-color: #2a2b33;
}

button::selection {
  background-color: 0 0 #5e42d7;
}

.first-white-background {
  border-top: 1px solid #646369;
  padding-top: 20px;
}

.contact-form {
  margin-top: 75px;
  margin-bottom: 75px;
}

.contact-form .flex-container-column,
.flex .flex-container-column,
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form .flex-container-column {
  margin-top: 40px;
  gap: 24px;
}

.footer {
  border-top: 1px solid #3a3837;
  align-items: center;
  padding-top: 15px;
  margin-bottom: 30px;
}

.contact-form div h2 {
  margin-bottom: 20px;
  font-size: 32px;
  line-height: 44px;
  color: #9390ff;
  font-weight: 500;
}

.contact-form div p {
  font-size: 16px;
  line-height: 24px;
  color: #f5f5ff;
}

.input-cls {
  width: 90%;
  margin: 0 auto;
  padding: 16px;
  color: #191765;
  font-size: 15px;
}

.message-box {
  height: auto;
}

.submit-btn {
  margin-top: 16px;
}

footer .text-hover:hover {
  text-decoration: 2px underline var(--primary-heading-color);
}

.social-icons {
  display: flex;
}

.nav-arrow-1 {
  display: none;
}

.navigation-space {
  padding-top: 20px;
}

.contact-form .desktop {
  display: none;
}

/* Desktop version width: 768px */

@media (min-width: 768px) {
  * {
    margin: 0;
    padding: 0;
  }

  html,
  body {
    width: 100%;
  }

  nav .hamburger-menu {
    display: none;
  }

  nav > ul > li {
    display: inline-block;
    margin-top: -20px;
  }

  header {
    width: 100%;
    padding: 0 200px 0 100px;
    display: flex;
    justify-content: space-between;
  }

  main {
    /* width: 94.4%; */
    margin: 0 auto;
  }

  section {
    width: 100%;
  }

  .grid-container {
    background-image: url(background/ellipse-c.png), url(background/ellipse-d.png), url(background/desktop-e.png), url(background/ellipse-f.png);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: left top 7%, right top 36%, left top 63%, right bottom 15%;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    padding-top: 20px;
  }

  .white-background-one {
    width: 100%;
    background-image: url(background/desktop-a.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: 0% 0%;
  }

  .one {
    text-align: center;
    width: 50%;
    margin: 0 auto;
  }

  .white-background-two {
    background-image: url(background/desktop-b.png);
    background-repeat: no-repeat;
    background-position: 0 100;
    background-size: 200px;
    margin: 0 auto;
  }

  .qualifications,
  .two {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .qualifications li {
    width: 30%;
  }

  .navigation-space {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
  }

  .nav-arrow-1 {
    display: flex;
  }

  .pr-title {
    text-transform: none;
    width: 100%;
  }

  .first,
  .second,
  .third,
  .fourth {
    width: 80%;
    margin: 0 auto;
  }

  #pr-work-title {
    width: 80%;
    margin: 0 auto;
  }

  .grid-row-item .project-image {
    width: 500px;
  }

  .grid-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
  }

  .grid-row-item h4 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .grid-row-item p {
    line-height: normal;
    font-size: 19px;
  }

  #change-order .grid-row-item {
    order: 2;
  }

  #change-order-1 .grid-row-item {
    order: 2;
  }

  .contact-form .mobile {
    display: none;
  }

  .contact-form .desktop {
    display: block;
  }

  .contact-form {
    width: 70%;
    margin: 100px auto 70px auto;
  }

  .footer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .footer > .email {
    margin-bottom: 10px;
  }
}
